.scrolly{
    overflow-y: scroll;
}

.textarea-resize-none{
        resize: none;
        /* overflow: hidden; */
        min-height: 55px;
        max-height: 60px;
}

.height-70{
    height: calc(70%) !important;
}